<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/product_view.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Category insert</title>
</head>

<body>

    <!--start container-->
    <div class="container">
        <!--start box group-->
        <div class="box-gorup">
            <h1>Category</h1>
            <!-- start table data-->
            <div class="table-data">
                <table>
                    <thead>
                        <tr class="row">
                            <th>Id</th>
                            <th>Name</th>
                            <th>price</th>
                            <th>Image</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="row">
                            <td>1</td>
                            <td class="name">Electronic</td>
                            <td class="price">price </td>
                            <td class="img"><img src="/product/product_insert.jpg" alt="img" height="60"></td>
                        </tr>
                        <tr class="row">
                            <td>2</td>
                            <td class="name">Electronic</td>
                            <td class="price">price</td>
                            <td class="img"><img src="/product/product_insert.jpg" alt="img" height="60"></td>
                        </tr>
                        <tr class="row">
                            <td>3</td>
                            <td class="name">Electronic</td>
                            <td class="price">price</td>
                            <td class="img"><img src="/product/product_insert.jpg" alt="img" height="60"></td>
                        </tr>
                        <tr class="row">
                            <td>4</td>
                            <td class="name">Electronic</td>
                            <td class="price">price</td>
                            <td class="img"><img src="/product/product_insert.jpg" alt="img" height="60"></td>
                        </tr>
                        
                    </tbody>
                </table>
            </div><!-- end table data-->

            <!--start pagination-->
            <div class="pagination">
                
                <a href="#" class="btn1"><i class="fa-solid fa-arrow-left"></i>pre3</a>
                <ul>
                    <li class="link" value="1">1</li>
                    <li class="link" value="2">2</li>
                    <li class="link" value="3">3</li>
                    <li class="link" value="4">4</li>
                    <li class="link" value="5">5</li>
                </ul>
                <a href="#" class="btn2">next <i class="fa-solid fa-arrow-right-long"></i></a>
                
            </div> <!--end pagination-->

        </div> <!--end box group-->
    </div><!--end container-->

</body>

</html>