* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Helvetica, sans-serif;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("sub_category.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .box-gorup {
    width: 90%;
    min-width: 100px;
    max-width: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 90px;
  }
  
  .box-gorup h1 {
    color: #000;
    font-size: 30px;
  }
  
  .box-gorup table {
    width: 300px;
    border: 2px solid #000;
    margin: 20px auto 40px auto;
    border-radius: 10px;
  }
  
  .box-gorup th,
  td {
    border: 2px solid #000;
    border-radius: 5px;
  }
  
  .box-gorup .name {
    text-align: left;
    padding: 2px 3px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #383838;
    border-radius: 6px;
  }
  
  ul {
    margin: 20px 2px;
    display: flex;
  }
  
  ul li {
    display: inline-block;
    margin: 0 5px;
    background: #ccc;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;
  }
  
  ul li:hover {
      background: #cc9;
  }
  
  .pagination a {
    display: inline-flex;
    font-size: 22px;
    align-items: center;
    font-weight: 500;
    color: #383838;
    background: transparent;
    text-decoration: none;
    outline: 0;
    border: 0;
  }
  
  .pagination i {
      margin: 0px 10px;
  }
  
  .table-data {
    height: 200px;
  }
  